---
---

.canvas-wrapper {
  display: flex;
  flex-flow: row nowrap;
  background-color: #0d1117;
}

#canvas {
  flex: 1;
  display: block;
  min-width: 0;
  background-color: #0d1117;
}

#controls-panel {
  width: 250px;
  min-width: 250px;
  background-color: #0d1117;
  color: #e1e8ed;
  padding: 1rem;
  overflow-y: auto;
  border-left: solid 2px #ffc857;

  button {
    width: 100%;
  }

  p {
    color: #b2b9bf;
    font-size: 0.95rem;
  }
}


@media (max-width: 760px) {
  .canvas-wrapper {
    flex-direction: column;
  }

  #controls-panel {
    width: 100%;
    min-width: 0;
    border-left: none;
    border-top: solid 2px #ffc857;
  }
}
